.tagWrapper{
  display: inline-block;
  padding: .25rem 0.5rem;
  background: #409eff;
  border-radius: .25rem;
  color: #fff;
}
.success{
  background: #67c23a;
}
.warning{
  background: #e6a23c;
}
.info{
  background: #909399;
}