@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    background-color: #f7f9fb;
}

img{
    width: 100%;
}

@media (min-width: 1536px){
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 1280px){
    .container {
        max-width: 1280px;
    }
}

.container {
    margin: 0 auto;
}