:root {
  --colors-base-black: #000000FF;
  --colors-base-transparent: #FFFFFF00;
  --colors-base-white: #FFFFFFFF;
  --colors-blue-dark-100: #D1E0FFFF;
  --colors-blue-dark-200: #B2CCFFFF;
  --colors-blue-dark-25: #F5F8FFFF;
  --colors-blue-dark-300: #84ADFFFF;
  --colors-blue-dark-400: #528BFFFF;
  --colors-blue-dark-50: #EFF4FFFF;
  --colors-blue-dark-500: #2970FFFF;
  --colors-blue-dark-600: #155EEFFF;
  --colors-blue-dark-700: #004EEBFF;
  --colors-blue-dark-800: #0040C1FF;
  --colors-blue-dark-900: #00359EFF;
  --colors-blue-dark-950: #002266FF;
  --colors-blue-light-100: #E0F2FEFF;
  --colors-blue-light-200: #B9E6FEFF;
  --colors-blue-light-25: #F5FBFFFF;
  --colors-blue-light-300: #7CD4FDFF;
  --colors-blue-light-400: #36BFFAFF;
  --colors-blue-light-50: #F0F9FFFF;
  --colors-blue-light-500: #0BA5ECFF;
  --colors-blue-light-600: #0086C9FF;
  --colors-blue-light-700: #026AA2FF;
  --colors-blue-light-800: #065986FF;
  --colors-blue-light-900: #0B4A6FFF;
  --colors-blue-light-950: #062C41FF;
  --colors-blue-100: #D1E9FFFF;
  --colors-blue-200: #B2DDFFFF;
  --colors-blue-25: #F5FAFFFF;
  --colors-blue-300: #84CAFFFF;
  --colors-blue-400: #53B1FDFF;
  --colors-blue-50: #EFF8FFFF;
  --colors-blue-500: #2E90FAFF;
  --colors-blue-600: #1570EFFF;
  --colors-blue-700: #175CD3FF;
  --colors-blue-800: #1849A9FF;
  --colors-blue-900: #194185FF;
  --colors-blue-950: #102A56FF;
  --colors-brand-100: #B0D0FFFF;
  --colors-brand-200: #8AB9FFFF;
  --colors-brand-25: #F3F8FFFF;
  --colors-brand-300: #5499FFFF;
  --colors-brand-400: #3385FFFF;
  --colors-brand-50: #E6F0FFFF;
  --colors-brand-500: #0067FFFF;
  --colors-brand-600: #005EE8FF;
  --colors-brand-700: #0049B5FF;
  --colors-brand-800: #00398CFF;
  --colors-brand-900: #002B6BFF;
  --colors-brand-950: #002256FF;
  --colors-cyan-100: #CFF9FEFF;
  --colors-cyan-200: #A5F0FCFF;
  --colors-cyan-25: #F5FEFFFF;
  --colors-cyan-300: #67E3F9FF;
  --colors-cyan-400: #22CCEEFF;
  --colors-cyan-50: #ECFDFFFF;
  --colors-cyan-500: #06AED4FF;
  --colors-cyan-600: #088AB2FF;
  --colors-cyan-700: #0E7090FF;
  --colors-cyan-800: #155B75FF;
  --colors-cyan-900: #164C63FF;
  --colors-cyan-950: #0D2D3AFF;
  --colors-error-100: #FFB0D0FF;
  --colors-error-200: #FF8AB9FF;
  --colors-error-25: #FFFDF4FF;
  --colors-error-300: #FF5498FF;
  --colors-error-400: #FF3385FF;
  --colors-error-50: #FFE6F0FF;
  --colors-error-500: #FF0066FF;
  --colors-error-600: #E8005DFF;
  --colors-error-700: #B50048FF;
  --colors-error-800: #8C0038FF;
  --colors-error-900: #6B002BFF;
  --colors-error-950: #5B0024FF;
  --colors-fuchsia-100: #FBE8FFFF;
  --colors-fuchsia-200: #F6D0FEFF;
  --colors-fuchsia-25: #FEFAFFFF;
  --colors-fuchsia-300: #EEAAFDFF;
  --colors-fuchsia-400: #E478FAFF;
  --colors-fuchsia-50: #FDF4FFFF;
  --colors-fuchsia-500: #D444F1FF;
  --colors-fuchsia-600: #BA24D5FF;
  --colors-fuchsia-700: #9F1AB1FF;
  --colors-fuchsia-800: #821890FF;
  --colors-fuchsia-900: #6F1877FF;
  --colors-fuchsia-950: #47104CFF;
  --colors-gray-blue-100: #EAECF5FF;
  --colors-gray-blue-200: #D5D9EBFF;
  --colors-gray-blue-25: #FCFCFDFF;
  --colors-gray-blue-300: #B3B8DBFF;
  --colors-gray-blue-400: #717BBCFF;
  --colors-gray-blue-50: #F8F9FCFF;
  --colors-gray-blue-500: #4E5BA6FF;
  --colors-gray-blue-600: #3E4784FF;
  --colors-gray-blue-700: #363F72FF;
  --colors-gray-blue-800: #293056FF;
  --colors-gray-blue-900: #101323FF;
  --colors-gray-blue-950: #0D0F1CFF;
  --colors-gray-cool-100: #EFF1F5FF;
  --colors-gray-cool-200: #DCDFEAFF;
  --colors-gray-cool-25: #FCFCFDFF;
  --colors-gray-cool-300: #B9C0D4FF;
  --colors-gray-cool-400: #7D89B0FF;
  --colors-gray-cool-50: #F9F9FBFF;
  --colors-gray-cool-500: #5D6B98FF;
  --colors-gray-cool-600: #4A5578FF;
  --colors-gray-cool-700: #404968FF;
  --colors-gray-cool-800: #30374FFF;
  --colors-gray-cool-900: #111322FF;
  --colors-gray-cool-950: #0E101BFF;
  --colors-gray-dark_mode-100: #F0F1F1FF;
  --colors-gray-dark_mode-200: #ECECEDFF;
  --colors-gray-dark_mode-25: #FAFAFAFF;
  --colors-gray-dark_mode-300: #CECFD2FF;
  --colors-gray-dark_mode-400: #94969CFF;
  --colors-gray-dark_mode-50: #F5F5F6FF;
  --colors-gray-dark_mode-500: #85888EFF;
  --colors-gray-dark_mode-600: #61646CFF;
  --colors-gray-dark_mode-700: #333741FF;
  --colors-gray-dark_mode-800: #1F242FFF;
  --colors-gray-dark_mode-900: #161B26FF;
  --colors-gray-dark_mode-950: #0C111DFF;
  --colors-gray-dark_mode_alpha-100: #FFFFFFEF;
  --colors-gray-dark_mode_alpha-200: #FFFFFFEA;
  --colors-gray-dark_mode_alpha-25: #FFFFFFF9;
  --colors-gray-dark_mode_alpha-300: #FFFFFFCC;
  --colors-gray-dark_mode_alpha-400: #FFFFFF8E;
  --colors-gray-dark_mode_alpha-50: #FFFFFFF4;
  --colors-gray-dark_mode_alpha-500: #FFFFFF7F;
  --colors-gray-dark_mode_alpha-600: #FFFFFF59;
  --colors-gray-dark_mode_alpha-700: #FFFFFF28;
  --colors-gray-dark_mode_alpha-800: #FFFFFF14;
  --colors-gray-dark_mode_alpha-900: #FFFFFF0A;
  --colors-gray-dark_mode_alpha-950: #FFFFFF00;
  --colors-gray-iron-100: #F4F4F5FF;
  --colors-gray-iron-200: #E4E4E7FF;
  --colors-gray-iron-25: #FCFCFCFF;
  --colors-gray-iron-300: #D1D1D6FF;
  --colors-gray-iron-400: #A0A0ABFF;
  --colors-gray-iron-50: #FAFAFAFF;
  --colors-gray-iron-500: #70707BFF;
  --colors-gray-iron-600: #51525CFF;
  --colors-gray-iron-700: #3F3F46FF;
  --colors-gray-iron-800: #26272BFF;
  --colors-gray-iron-900: #1A1A1EFF;
  --colors-gray-iron-950: #131316FF;
  --colors-gray-light_mode-100: #CECFD1FF;
  --colors-gray-light_mode-200: #B7B9BCFF;
  --colors-gray-light_mode-25: #FCFCFCFF;
  --colors-gray-light_mode-300: #A0A3A7FF;
  --colors-gray-light_mode-400: #898D92FF;
  --colors-gray-light_mode-50: #E5E6E7FF;
  --colors-gray-light_mode-500: #73767CFF;
  --colors-gray-light_mode-600: #5C6067FF;
  --colors-gray-light_mode-700: #454A52FF;
  --colors-gray-light_mode-800: #2E343DFF;
  --colors-gray-light_mode-900: #171D27FF;
  --colors-gray-light_mode-950: #000712FF;
  --colors-gray-modern-100: #EEF2F6FF;
  --colors-gray-modern-200: #E3E8EFFF;
  --colors-gray-modern-25: #FCFCFDFF;
  --colors-gray-modern-300: #CDD5DFFF;
  --colors-gray-modern-400: #9AA4B2FF;
  --colors-gray-modern-50: #F8FAFCFF;
  --colors-gray-modern-500: #697586FF;
  --colors-gray-modern-600: #4B5565FF;
  --colors-gray-modern-700: #364152FF;
  --colors-gray-modern-800: #202939FF;
  --colors-gray-modern-900: #121926FF;
  --colors-gray-modern-950: #0D121CFF;
  --colors-gray-neutral-100: #F3F4F6FF;
  --colors-gray-neutral-200: #E5E7EBFF;
  --colors-gray-neutral-25: #FCFCFDFF;
  --colors-gray-neutral-300: #D2D6DBFF;
  --colors-gray-neutral-400: #9DA4AEFF;
  --colors-gray-neutral-50: #F9FAFBFF;
  --colors-gray-neutral-500: #6C737FFF;
  --colors-gray-neutral-600: #4D5761FF;
  --colors-gray-neutral-700: #384250FF;
  --colors-gray-neutral-800: #1F2A37FF;
  --colors-gray-neutral-900: #111927FF;
  --colors-gray-neutral-950: #0D121CFF;
  --colors-gray-true-100: #F5F5F5FF;
  --colors-gray-true-200: #E5E5E5FF;
  --colors-gray-true-25: #FCFCFCFF;
  --colors-gray-true-300: #D6D6D6FF;
  --colors-gray-true-400: #A3A3A3FF;
  --colors-gray-true-50: #FAFAFAFF;
  --colors-gray-true-500: #737373FF;
  --colors-gray-true-600: #525252FF;
  --colors-gray-true-700: #424242FF;
  --colors-gray-true-800: #292929FF;
  --colors-gray-true-900: #141414FF;
  --colors-gray-true-950: #0F0F0FFF;
  --colors-gray-warm-100: #E7E2DAFF;
  --colors-gray-warm-200: #D0CBC4FF;
  --colors-gray-warm-25: #FFFEFDFF;
  --colors-gray-warm-300: #B9B4ADFF;
  --colors-gray-warm-400: #A29D97FF;
  --colors-gray-warm-50: #FEF9F0FF;
  --colors-gray-warm-500: #8B8781FF;
  --colors-gray-warm-600: #73706BFF;
  --colors-gray-warm-700: #5C5955FF;
  --colors-gray-warm-800: #45423EFF;
  --colors-gray-warm-900: #2E2B28FF;
  --colors-gray-warm-950: #171412FF;
  --colors-green-light-100: #E3FBCCFF;
  --colors-green-light-200: #D0F8ABFF;
  --colors-green-light-25: #FAFEF5FF;
  --colors-green-light-300: #A6EF67FF;
  --colors-green-light-400: #85E13AFF;
  --colors-green-light-50: #F3FEE7FF;
  --colors-green-light-500: #66C61CFF;
  --colors-green-light-600: #4CA30DFF;
  --colors-green-light-700: #3B7C0FFF;
  --colors-green-light-800: #326212FF;
  --colors-green-light-900: #2B5314FF;
  --colors-green-light-950: #15290AFF;
  --colors-green-100: #D3F8DFFF;
  --colors-green-200: #AAF0C4FF;
  --colors-green-25: #F6FEF9FF;
  --colors-green-300: #73E2A3FF;
  --colors-green-400: #3CCB7FFF;
  --colors-green-50: #EDFCF2FF;
  --colors-green-500: #16B364FF;
  --colors-green-600: #099250FF;
  --colors-green-700: #087443FF;
  --colors-green-800: #095C37FF;
  --colors-green-900: #084C2EFF;
  --colors-green-950: #052E1CFF;
  --colors-indigo-100: #E0EAFFFF;
  --colors-indigo-200: #C7D7FEFF;
  --colors-indigo-25: #F5F8FFFF;
  --colors-indigo-300: #A4BCFDFF;
  --colors-indigo-400: #8098F9FF;
  --colors-indigo-50: #EEF4FFFF;
  --colors-indigo-500: #6172F3FF;
  --colors-indigo-600: #444CE7FF;
  --colors-indigo-700: #3538CDFF;
  --colors-indigo-800: #2D31A6FF;
  --colors-indigo-900: #2D3282FF;
  --colors-indigo-950: #1F235BFF;
  --colors-moss-100: #E6F4D7FF;
  --colors-moss-200: #CEEAB0FF;
  --colors-moss-25: #FAFDF7FF;
  --colors-moss-300: #ACDC79FF;
  --colors-moss-400: #86CB3CFF;
  --colors-moss-50: #F5FBEEFF;
  --colors-moss-500: #669F2AFF;
  --colors-moss-600: #4F7A21FF;
  --colors-moss-700: #3F621AFF;
  --colors-moss-800: #335015FF;
  --colors-moss-900: #2B4212FF;
  --colors-moss-950: #1A280BFF;
  --colors-orange-dark-100: #FFE6D5FF;
  --colors-orange-dark-200: #FFD6AEFF;
  --colors-orange-dark-25: #FFF9F5FF;
  --colors-orange-dark-300: #FF9C66FF;
  --colors-orange-dark-400: #FF692EFF;
  --colors-orange-dark-50: #FFF4EDFF;
  --colors-orange-dark-500: #FF4405FF;
  --colors-orange-dark-600: #E62E05FF;
  --colors-orange-dark-700: #BC1B06FF;
  --colors-orange-dark-800: #97180CFF;
  --colors-orange-dark-900: #771A0DFF;
  --colors-orange-dark-950: #57130AFF;
  --colors-orange-100: #FDEAD7FF;
  --colors-orange-200: #F9DBAFFF;
  --colors-orange-25: #FEFAF5FF;
  --colors-orange-300: #F7B27AFF;
  --colors-orange-400: #F38744FF;
  --colors-orange-50: #FEF6EEFF;
  --colors-orange-500: #EF6820FF;
  --colors-orange-600: #E04F16FF;
  --colors-orange-700: #B93815FF;
  --colors-orange-800: #932F19FF;
  --colors-orange-900: #772917FF;
  --colors-orange-950: #511C10FF;
  --colors-pink-100: #FCE7F6FF;
  --colors-pink-200: #FCCEEEFF;
  --colors-pink-25: #FEF6FBFF;
  --colors-pink-300: #FAA7E0FF;
  --colors-pink-400: #F670C7FF;
  --colors-pink-50: #FDF2FAFF;
  --colors-pink-500: #EE46BCFF;
  --colors-pink-600: #DD2590FF;
  --colors-pink-700: #C11574FF;
  --colors-pink-800: #9E165FFF;
  --colors-pink-900: #851651FF;
  --colors-pink-950: #4E0D30FF;
  --colors-purple-100: #EBE9FEFF;
  --colors-purple-200: #D9D6FEFF;
  --colors-purple-25: #FAFAFFFF;
  --colors-purple-300: #BDB4FEFF;
  --colors-purple-400: #9B8AFBFF;
  --colors-purple-50: #F4F3FFFF;
  --colors-purple-500: #7A5AF8FF;
  --colors-purple-600: #6938EFFF;
  --colors-purple-700: #5925DCFF;
  --colors-purple-800: #4A1FB8FF;
  --colors-purple-900: #3E1C96FF;
  --colors-purple-950: #27115FFF;
  --colors-rose-100: #FFE4E8FF;
  --colors-rose-200: #FECDD6FF;
  --colors-rose-25: #FFF5F6FF;
  --colors-rose-300: #FEA3B4FF;
  --colors-rose-400: #FD6F8EFF;
  --colors-rose-50: #FFF1F3FF;
  --colors-rose-500: #F63D68FF;
  --colors-rose-600: #E31B54FF;
  --colors-rose-700: #C01048FF;
  --colors-rose-800: #A11043FF;
  --colors-rose-900: #89123EFF;
  --colors-rose-950: #510B24FF;
  --colors-success-100: #DCFAE6FF;
  --colors-success-200: #ABEFC6FF;
  --colors-success-25: #F6FEF9FF;
  --colors-success-300: #75E0A7FF;
  --colors-success-400: #47CD89FF;
  --colors-success-50: #ECFDF3FF;
  --colors-success-500: #17B26AFF;
  --colors-success-600: #079455FF;
  --colors-success-700: #067647FF;
  --colors-success-800: #085D3AFF;
  --colors-success-900: #074D31FF;
  --colors-success-950: #053321FF;
  --colors-teal-100: #CCFBEFFF;
  --colors-teal-200: #99F6E0FF;
  --colors-teal-25: #F6FEFCFF;
  --colors-teal-300: #5FE9D0FF;
  --colors-teal-400: #2ED3B7FF;
  --colors-teal-50: #F0FDF9FF;
  --colors-teal-500: #15B79EFF;
  --colors-teal-600: #0E9384FF;
  --colors-teal-700: #107569FF;
  --colors-teal-800: #125D56FF;
  --colors-teal-900: #134E48FF;
  --colors-teal-950: #0A2926FF;
  --colors-violet-100: #ECE9FEFF;
  --colors-violet-200: #DDD6FEFF;
  --colors-violet-25: #FBFAFFFF;
  --colors-violet-300: #C3B5FDFF;
  --colors-violet-400: #A48AFBFF;
  --colors-violet-50: #F5F3FFFF;
  --colors-violet-500: #875BF7FF;
  --colors-violet-600: #7839EEFF;
  --colors-violet-700: #6927DAFF;
  --colors-violet-800: #5720B7FF;
  --colors-violet-900: #491C96FF;
  --colors-violet-950: #2E125EFF;
  --colors-warning-100: #FFDFB0FF;
  --colors-warning-200: #FFD08AFF;
  --colors-warning-25: #FFF8EDFF;
  --colors-warning-300: #FFBB54FF;
  --colors-warning-400: #FFAD33FF;
  --colors-warning-50: #FFF5E6FF;
  --colors-warning-500: #FF9900FF;
  --colors-warning-600: #E88B00FF;
  --colors-warning-700: #B56D00FF;
  --colors-warning-800: #8C5400FF;
  --colors-warning-900: #6B4000FF;
  --colors-warning-950: #492C00FF;
  --colors-yellow-100: #FEF7C3FF;
  --colors-yellow-200: #FEEE95FF;
  --colors-yellow-25: #FEFDF0FF;
  --colors-yellow-300: #FDE272FF;
  --colors-yellow-400: #FAC515FF;
  --colors-yellow-50: #FEFBE8FF;
  --colors-yellow-500: #EAAA08FF;
  --colors-yellow-600: #CA8504FF;
  --colors-yellow-700: #A15C07FF;
  --colors-yellow-800: #854A0EFF;
  --colors-yellow-900: #713B12FF;
  --colors-yellow-950: #542C0DFF;
  --colors-background-bg-active: var(--colors-gray-warm-50);
  --colors-background-bg-brand-primary: var(--colors-brand-50);
  --colors-background-bg-brand-primary_alt: var(--colors-brand-50);
  --colors-background-bg-brand-secondary: var(--colors-brand-100);
  --colors-background-bg-brand-section: var(--colors-brand-500);
  --colors-background-bg-brand-section_subtle: var(--colors-brand-700);
  --colors-background-bg-brand-solid: var(--colors-brand-600);
  --colors-background-bg-brand-solid_hover: var(--colors-brand-700);
  --colors-background-bg-disabled: var(--colors-gray-true-100);
  --colors-background-bg-disabled_subtle: var(--colors-gray-warm-50);
  --colors-background-bg-error-primary: var(--colors-error-50);
  --colors-background-bg-error-secondary: var(--colors-error-100);
  --colors-background-bg-error-solid: var(--colors-error-600);
  --colors-background-bg-overlay: var(--colors-gray-light_mode-950);
  --colors-background-bg-primary: var(--colors-gray-warm-50);
  --colors-background-bg-primary-solid: var(--colors-gray-light_mode-950);
  --colors-background-bg-primary_alt: var(--colors-gray-warm-50);
  --colors-background-bg-primary_hover: var(--colors-base-white);
  --colors-background-bg-quaternary: var(--colors-gray-warm-200);
  --colors-background-bg-secondary: var(--colors-gray-warm-25);
  --colors-background-bg-secondary-solid: var(--colors-gray-warm-600);
  --colors-background-bg-secondary_alt: var(--colors-gray-warm-25);
  --colors-background-bg-secondary_hover: var(--colors-gray-warm-100);
  --colors-background-bg-secondary_subtle: var(--colors-gray-warm-25);
  --colors-background-bg-success-primary: var(--colors-success-50);
  --colors-background-bg-success-secondary: var(--colors-success-100);
  --colors-background-bg-success-solid: var(--colors-success-600);
  --colors-background-bg-tertiary: var(--colors-gray-warm-100);
  --colors-background-bg-warning-primary: var(--colors-warning-50);
  --colors-background-bg-warning-secondary: var(--colors-warning-100);
  --colors-background-bg-warning-solid: var(--colors-warning-600);
  --colors-background-bg-white: var(--colors-base-white);
  --colors-border-border-brand: var(--colors-brand-300);
  --colors-border-border-brand-solid: var(--colors-brand-600);
  --colors-border-border-brand-solid_alt: var(--colors-brand-600);
  --colors-border-border-disabled: var(--colors-gray-light_mode-300);
  --colors-border-border-disabled_subtle: var(--colors-gray-light_mode-200);
  --colors-border-border-error: var(--colors-error-300);
  --colors-border-border-error-solid: var(--colors-error-600);
  --colors-border-border-primary: var(--colors-gray-light_mode-300);
  --colors-border-border-secondary: var(--colors-gray-light_mode-200);
  --colors-border-border-tertiary: var(--colors-gray-light_mode-100);
  --colors-foreground-fg-brand-primary-600: var(--colors-brand-600);
  --colors-foreground-fg-brand-primary_alt: var(--colors-brand-600);
  --colors-foreground-fg-brand-secondary-500: var(--colors-brand-500);
  --colors-foreground-fg-disabled: var(--colors-gray-light_mode-400);
  --colors-foreground-fg-disabled_subtle: var(--colors-gray-light_mode-300);
  --colors-foreground-fg-error-primary: var(--colors-error-600);
  --colors-foreground-fg-error-secondary: var(--colors-error-500);
  --colors-foreground-fg-primary-900: var(--colors-gray-light_mode-900);
  --colors-foreground-fg-quarterary-500: var(--colors-gray-light_mode-500);
  --colors-foreground-fg-quarterary_hover: var(--colors-gray-light_mode-600);
  --colors-foreground-fg-quinary-400: var(--colors-gray-light_mode-400);
  --colors-foreground-fg-quinary_hover: var(--colors-gray-light_mode-500);
  --colors-foreground-fg-secondary-700: var(--colors-gray-light_mode-700);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-light_mode-800);
  --colors-foreground-fg-senary-300: var(--colors-gray-light_mode-300);
  --colors-foreground-fg-success-primary: var(--colors-success-600);
  --colors-foreground-fg-success-secondary: var(--colors-success-400);
  --colors-foreground-fg-tertiary-600: var(--colors-gray-light_mode-600);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-light_mode-700);
  --colors-foreground-fg-warning-primary: var(--colors-warning-600);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-500);
  --colors-foreground-fg-white: var(--colors-base-white);
  --colors-text-text-brand-primary-900: var(--colors-brand-900);
  --colors-text-text-brand-secondary-700: var(--colors-brand-700);
  --colors-text-text-brand-tertiary-600: var(--colors-brand-600);
  --colors-text-text-brand-tertiary_alt: var(--colors-brand-600);
  --colors-text-text-disabled: var(--colors-gray-light_mode-500);
  --colors-text-text-error-primary-600: var(--colors-error-600);
  --colors-text-text-placeholder: var(--colors-gray-light_mode-500);
  --colors-text-text-placeholder_subtle: var(--colors-gray-light_mode-300);
  --colors-text-text-primary-900: var(--colors-gray-light_mode-900);
  --colors-text-text-primary_on-brand: var(--colors-base-white);
  --colors-text-text-quarterary-500: var(--colors-gray-light_mode-500);
  --colors-text-text-quarterary_on-brand: var(--colors-brand-300);
  --colors-text-text-secondary-700: var(--colors-gray-light_mode-700);
  --colors-text-text-secondary_hover: var(--colors-gray-light_mode-800);
  --colors-text-text-secondary_on-brand: var(--colors-brand-200);
  --colors-text-text-success-primary-600: var(--colors-success-600);
  --colors-text-text-tertiary-600: var(--colors-gray-light_mode-600);
  --colors-text-text-tertiary_hover: var(--colors-gray-light_mode-700);
  --colors-text-text-tertiary_on-brand: var(--colors-brand-200);
  --colors-text-text-warning-primary-600: var(--colors-warning-600);
  --colors-text-text-white: var(--colors-base-white);
  --component-colors-alpha-alpha-black-10: #00000019;
  --component-colors-alpha-alpha-black-100: #000000FF;
  --component-colors-alpha-alpha-black-20: #00000033;
  --component-colors-alpha-alpha-black-30: #0000004C;
  --component-colors-alpha-alpha-black-40: #00000066;
  --component-colors-alpha-alpha-black-50: #0000007F;
  --component-colors-alpha-alpha-black-60: #00000099;
  --component-colors-alpha-alpha-black-70: #000000B2;
  --component-colors-alpha-alpha-black-80: #000000CC;
  --component-colors-alpha-alpha-black-90: #000000E5;
  --component-colors-alpha-alpha-white-10: #FFFFFF19;
  --component-colors-alpha-alpha-white-100: #FFFFFFFF;
  --component-colors-alpha-alpha-white-20: #FFFFFF33;
  --component-colors-alpha-alpha-white-30: #FFFFFF4C;
  --component-colors-alpha-alpha-white-40: #FFFFFF66;
  --component-colors-alpha-alpha-white-50: #FFFFFF7F;
  --component-colors-alpha-alpha-white-60: #FFFFFF99;
  --component-colors-alpha-alpha-white-70: #FFFFFFB2;
  --component-colors-alpha-alpha-white-80: #FFFFFFCC;
  --component-colors-alpha-alpha-white-90: #FFFFFFE5;
  --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg: var(--colors-gray-light_mode-400);
  --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg_active: var(--colors-gray-light_mode-500);
  --component-colors-components-app-store-badges-app-store-badge-border: #A6A6A6FF;
  --component-colors-components-application-navigation-nav-item-button-icon-fg: var(--colors-gray-light_mode-500);
  --component-colors-components-application-navigation-nav-item-button-icon-fg_active: var(--colors-gray-light_mode-700);
  --component-colors-components-application-navigation-nav-item-icon-fg: var(--colors-gray-light_mode-500);
  --component-colors-components-application-navigation-nav-item-icon-fg_active: var(--colors-gray-light_mode-500);
  --component-colors-components-avatars-avatar-bg: var(--colors-gray-light_mode-100);
  --component-colors-components-avatars-avatar-contrast-border: #00000014;
  --component-colors-components-avatars-avatar-focus-border: #98A2B323;
  --component-colors-components-avatars-avatar-profile-photo-border: var(--colors-base-white);
  --component-colors-components-breadcrumbs-breadcrumb-bg_hover: var(--colors-gray-light_mode-50);
  --component-colors-components-breadcrumbs-breadcrumb-brand-bg_hover: var(--colors-brand-50);
  --component-colors-components-breadcrumbs-breadcrumb-brand-fg_hover: var(--colors-brand-700);
  --component-colors-components-breadcrumbs-breadcrumb-brand-icon-fg_hover: var(--colors-brand-700);
  --component-colors-components-breadcrumbs-breadcrumb-fg: var(--colors-gray-light_mode-600);
  --component-colors-components-breadcrumbs-breadcrumb-fg_hover: var(--colors-gray-light_mode-700);
  --component-colors-components-breadcrumbs-breadcrumb-icon-fg: var(--colors-gray-light_mode-500);
  --component-colors-components-breadcrumbs-breadcrumb-icon-fg_hover: var(--colors-gray-light_mode-700);
  --component-colors-components-buttons-primary-error-button-primary-error-bg: var(--colors-error-600);
  --component-colors-components-buttons-primary-error-button-primary-error-bg_hover: var(--colors-error-700);
  --component-colors-components-buttons-primary-error-button-primary-error-border: var(--colors-error-600);
  --component-colors-components-buttons-primary-error-button-primary-error-border_hover: var(--colors-error-700);
  --component-colors-components-buttons-primary-error-button-primary-error-fg: var(--colors-base-white);
  --component-colors-components-buttons-primary-error-button-primary-error-fg_hover: var(--colors-base-white);
  --component-colors-components-buttons-primary-button-primary-bg: var(--colors-gray-dark_mode-950);
  --component-colors-components-buttons-primary-button-primary-bg_hover: var(--colors-brand-500);
  --component-colors-components-buttons-primary-button-primary-border: var(--colors-gray-dark_mode-950);
  --component-colors-components-buttons-primary-button-primary-border_hover: var(--colors-brand-500);
  --component-colors-components-buttons-primary-button-primary-fg: var(--colors-base-white);
  --component-colors-components-buttons-primary-button-primary-fg_hover: var(--colors-base-white);
  --component-colors-components-buttons-secondary-color-button-secondary-color-bg: var(--colors-base-white);
  --component-colors-components-buttons-secondary-color-button-secondary-color-bg_hover: var(--colors-brand-50);
  --component-colors-components-buttons-secondary-color-button-secondary-color-border: var(--colors-brand-300);
  --component-colors-components-buttons-secondary-color-button-secondary-color-border_hover: var(--colors-brand-300);
  --component-colors-components-buttons-secondary-color-button-secondary-color-fg: var(--colors-brand-700);
  --component-colors-components-buttons-secondary-color-button-secondary-color-fg_hover: var(--colors-brand-800);
  --component-colors-components-buttons-secondary-error-button-secondary-error-bg: var(--colors-base-white);
  --component-colors-components-buttons-secondary-error-button-secondary-error-bg_hover: var(--colors-error-50);
  --component-colors-components-buttons-secondary-error-button-secondary-error-border: var(--colors-error-300);
  --component-colors-components-buttons-secondary-error-button-secondary-error-border_hover: var(--colors-error-300);
  --component-colors-components-buttons-secondary-error-button-secondary-error-fg: var(--colors-error-700);
  --component-colors-components-buttons-secondary-error-button-secondary-error-fg_hover: var(--colors-error-800);
  --component-colors-components-buttons-secondary-button-secondary-bg: var(--colors-base-white);
  --component-colors-components-buttons-secondary-button-secondary-bg_hover: var(--colors-brand-500);
  --component-colors-components-buttons-secondary-button-secondary-border: var(--colors-gray-light_mode-950);
  --component-colors-components-buttons-secondary-button-secondary-border_hover: var(--colors-brand-500);
  --component-colors-components-buttons-secondary-button-secondary-fg: var(--colors-gray-light_mode-950);
  --component-colors-components-buttons-secondary-button-secondary-fg_hover: var(--colors-gray-light_mode-25);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-bg_hover: var(--colors-brand-50);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg: var(--colors-brand-700);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg_hover: var(--colors-brand-800);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-bg_hover: var(--colors-error-50);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg: var(--colors-error-700);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg_hover: var(--colors-error-800);
  --component-colors-components-buttons-tertiary-button-tertiary-bg_hover: var(--colors-gray-light_mode-50);
  --component-colors-components-buttons-tertiary-button-tertiary-fg: var(--colors-gray-light_mode-600);
  --component-colors-components-buttons-tertiary-button-tertiary-fg_hover: var(--colors-gray-light_mode-700);
  --component-colors-components-footers-footer-badge-bg: var(--colors-success-50);
  --component-colors-components-footers-footer-badge-border: var(--colors-success-200);
  --component-colors-components-footers-footer-badge-fg: var(--colors-success-700);
  --component-colors-components-footers-footer-button-fg: var(--colors-brand-200);
  --component-colors-components-footers-footer-button-fg_hover: var(--colors-base-white);
  --component-colors-components-header-sections-header-abstract-100-bg: var(--colors-brand-100);
  --component-colors-components-header-sections-header-abstract-200-bg: var(--colors-brand-200);
  --component-colors-components-header-sections-header-abstract-300-bg: var(--colors-brand-300);
  --component-colors-components-header-sections-header-abstract-50-bg: var(--colors-brand-50);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-brand: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-error: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-gray: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-success: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-warning: var(--colors-base-white);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-brand: var(--colors-brand-600);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-error: var(--colors-error-600);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-gray: var(--colors-gray-light_mode-500);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-success: var(--colors-success-600);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-warning: var(--colors-warning-600);
  --component-colors-components-icons-featured-icons-modern-featured-icon-modern-border: var(--colors-gray-light_mode-200);
  --component-colors-components-icons-icons-icon-fg-brand: var(--colors-brand-600);
  --component-colors-components-icons-icons-icon-fg-brand_on-brand: var(--colors-brand-200);
  --component-colors-components-icons-social-icons-social-icon-fg-angellist: var(--colors-base-black);
  --component-colors-components-icons-social-icons-social-icon-fg-apple: var(--colors-base-black);
  --component-colors-components-icons-social-icons-social-icon-fg-github: var(--colors-base-black);
  --component-colors-components-icons-social-icons-social-icon-fg-instagram: #000100FF;
  --component-colors-components-icons-social-icons-social-icon-fg-tumblr: #001935FF;
  --component-colors-components-icons-social-icons-social-icon-fg-x: #242E36FF;
  --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-light_mode-900);
  --component-colors-components-sliders-slider-handle-bg: var(--colors-base-white);
  --component-colors-components-sliders-slider-handle-border: var(--colors-border-border-brand-solid);
  --component-colors-components-thumbnail-thumbnail-badge-brand-fg: var(--colors-brand-700);
  --component-colors-components-thumbnail-thumbnail-badge-success-fg: var(--colors-success-700);
  --component-colors-components-toggles-toggle-button-fg_disabled: var(--colors-gray-light_mode-50);
  --component-colors-components-tooltips-tooltip-supporting-text: var(--colors-gray-light_mode-300);
  --component-colors-utility-blue-dark-utility-blue-dark-100: var(--colors-blue-dark-100);
  --component-colors-utility-blue-dark-utility-blue-dark-200: var(--colors-blue-dark-200);
  --component-colors-utility-blue-dark-utility-blue-dark-300: var(--colors-blue-dark-300);
  --component-colors-utility-blue-dark-utility-blue-dark-400: var(--colors-blue-dark-400);
  --component-colors-utility-blue-dark-utility-blue-dark-50: var(--colors-blue-dark-50);
  --component-colors-utility-blue-dark-utility-blue-dark-500: var(--colors-blue-dark-500);
  --component-colors-utility-blue-dark-utility-blue-dark-600: var(--colors-blue-dark-600);
  --component-colors-utility-blue-dark-utility-blue-dark-700: var(--colors-blue-dark-700);
  --component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-100);
  --component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-200);
  --component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-300);
  --component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-400);
  --component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-50);
  --component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-600);
  --component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-700);
  --component-colors-utility-blue-utility-blue-100: var(--colors-blue-100);
  --component-colors-utility-blue-utility-blue-200: var(--colors-blue-200);
  --component-colors-utility-blue-utility-blue-300: var(--colors-blue-300);
  --component-colors-utility-blue-utility-blue-400: var(--colors-blue-400);
  --component-colors-utility-blue-utility-blue-50: var(--colors-blue-50);
  --component-colors-utility-blue-utility-blue-500: var(--colors-blue-500);
  --component-colors-utility-blue-utility-blue-600: var(--colors-blue-600);
  --component-colors-utility-blue-utility-blue-700: var(--colors-blue-700);
  --component-colors-utility-brand-utility-brand-100: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-100_alt: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-200: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-200_alt: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-300: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-300_alt: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-400: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-400_alt: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-50: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-500_alt: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-50_alt: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-600: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-600_alt: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-700: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-700_alt: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-800: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-800_alt: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-900: var(--colors-brand-900);
  --component-colors-utility-brand-utility-brand-900_alt: var(--colors-brand-900);
  --component-colors-utility-error-utility-error-100: var(--colors-error-100);
  --component-colors-utility-error-utility-error-200: var(--colors-error-200);
  --component-colors-utility-error-utility-error-300: var(--colors-error-300);
  --component-colors-utility-error-utility-error-400: var(--colors-error-400);
  --component-colors-utility-error-utility-error-50: var(--colors-error-50);
  --component-colors-utility-error-utility-error-500: var(--colors-error-500);
  --component-colors-utility-error-utility-error-600: var(--colors-error-600);
  --component-colors-utility-error-utility-error-700: var(--colors-error-700);
  --component-colors-utility-fuchsia-utility-fuchsia-100: var(--colors-fuchsia-100);
  --component-colors-utility-fuchsia-utility-fuchsia-200: var(--colors-fuchsia-200);
  --component-colors-utility-fuchsia-utility-fuchsia-300: var(--colors-fuchsia-300);
  --component-colors-utility-fuchsia-utility-fuchsia-400: var(--colors-fuchsia-400);
  --component-colors-utility-fuchsia-utility-fuchsia-50: var(--colors-fuchsia-50);
  --component-colors-utility-fuchsia-utility-fuchsia-500: var(--colors-fuchsia-500);
  --component-colors-utility-fuchsia-utility-fuchsia-600: var(--colors-fuchsia-600);
  --component-colors-utility-fuchsia-utility-fuchsia-700: var(--colors-fuchsia-700);
  --component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-100);
  --component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-200);
  --component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-300);
  --component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-400);
  --component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-50);
  --component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-600);
  --component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-700);
  --component-colors-utility-gray-utility-gray-100: var(--colors-gray-light_mode-100);
  --component-colors-utility-gray-utility-gray-200: var(--colors-gray-light_mode-200);
  --component-colors-utility-gray-utility-gray-300: var(--colors-gray-light_mode-300);
  --component-colors-utility-gray-utility-gray-400: var(--colors-gray-light_mode-400);
  --component-colors-utility-gray-utility-gray-50: var(--colors-gray-light_mode-50);
  --component-colors-utility-gray-utility-gray-500: var(--colors-gray-light_mode-500);
  --component-colors-utility-gray-utility-gray-600: var(--colors-gray-light_mode-600);
  --component-colors-utility-gray-utility-gray-700: var(--colors-gray-light_mode-700);
  --component-colors-utility-gray-utility-gray-800: var(--colors-gray-light_mode-800);
  --component-colors-utility-gray-utility-gray-900: var(--colors-gray-light_mode-900);
  --component-colors-utility-indigo-utility-indigo-100: var(--colors-indigo-100);
  --component-colors-utility-indigo-utility-indigo-200: var(--colors-indigo-200);
  --component-colors-utility-indigo-utility-indigo-300: var(--colors-indigo-300);
  --component-colors-utility-indigo-utility-indigo-400: var(--colors-indigo-400);
  --component-colors-utility-indigo-utility-indigo-50: var(--colors-indigo-50);
  --component-colors-utility-indigo-utility-indigo-500: var(--colors-indigo-500);
  --component-colors-utility-indigo-utility-indigo-600: var(--colors-indigo-600);
  --component-colors-utility-indigo-utility-indigo-700: var(--colors-indigo-700);
  --component-colors-utility-orange-dark-utility-orange-dark-100: var(--colors-orange-dark-100);
  --component-colors-utility-orange-dark-utility-orange-dark-200: var(--colors-orange-dark-200);
  --component-colors-utility-orange-dark-utility-orange-dark-300: var(--colors-orange-dark-300);
  --component-colors-utility-orange-dark-utility-orange-dark-400: var(--colors-orange-dark-400);
  --component-colors-utility-orange-dark-utility-orange-dark-50: var(--colors-orange-dark-50);
  --component-colors-utility-orange-dark-utility-orange-dark-500: var(--colors-orange-dark-500);
  --component-colors-utility-orange-dark-utility-orange-dark-600: var(--colors-orange-dark-600);
  --component-colors-utility-orange-dark-utility-orange-dark-700: var(--colors-orange-dark-700);
  --component-colors-utility-orange-utility-orange-100: var(--colors-orange-100);
  --component-colors-utility-orange-utility-orange-200: var(--colors-orange-200);
  --component-colors-utility-orange-utility-orange-300: var(--colors-orange-300);
  --component-colors-utility-orange-utility-orange-400: var(--colors-orange-400);
  --component-colors-utility-orange-utility-orange-50: var(--colors-orange-50);
  --component-colors-utility-orange-utility-orange-500: var(--colors-orange-500);
  --component-colors-utility-orange-utility-orange-600: var(--colors-orange-600);
  --component-colors-utility-orange-utility-orange-700: var(--colors-orange-700);
  --component-colors-utility-pink-utility-pink-100: var(--colors-pink-100);
  --component-colors-utility-pink-utility-pink-200: var(--colors-pink-200);
  --component-colors-utility-pink-utility-pink-300: var(--colors-pink-300);
  --component-colors-utility-pink-utility-pink-400: var(--colors-pink-400);
  --component-colors-utility-pink-utility-pink-50: var(--colors-pink-50);
  --component-colors-utility-pink-utility-pink-500: var(--colors-pink-500);
  --component-colors-utility-pink-utility-pink-600: var(--colors-pink-600);
  --component-colors-utility-pink-utility-pink-700: var(--colors-pink-700);
  --component-colors-utility-purple-utility-purple-100: var(--colors-purple-100);
  --component-colors-utility-purple-utility-purple-200: var(--colors-purple-200);
  --component-colors-utility-purple-utility-purple-300: var(--colors-purple-300);
  --component-colors-utility-purple-utility-purple-400: var(--colors-purple-400);
  --component-colors-utility-purple-utility-purple-50: var(--colors-purple-50);
  --component-colors-utility-purple-utility-purple-500: var(--colors-purple-500);
  --component-colors-utility-purple-utility-purple-600: var(--colors-purple-600);
  --component-colors-utility-purple-utility-purple-700: var(--colors-purple-700);
  --component-colors-utility-success-utility-success-100: var(--colors-success-100);
  --component-colors-utility-success-utility-success-200: var(--colors-success-200);
  --component-colors-utility-success-utility-success-300: var(--colors-success-300);
  --component-colors-utility-success-utility-success-400: var(--colors-success-400);
  --component-colors-utility-success-utility-success-50: var(--colors-success-50);
  --component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --component-colors-utility-success-utility-success-600: var(--colors-success-600);
  --component-colors-utility-success-utility-success-700: var(--colors-success-700);
  --component-colors-utility-warning-utility-warning-100: var(--colors-warning-100);
  --component-colors-utility-warning-utility-warning-200: var(--colors-warning-200);
  --component-colors-utility-warning-utility-warning-300: var(--colors-warning-300);
  --component-colors-utility-warning-utility-warning-400: var(--colors-warning-400);
  --component-colors-utility-warning-utility-warning-50: var(--colors-warning-50);
  --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500);
  --component-colors-utility-warning-utility-warning-600: var(--colors-warning-600);
  --component-colors-utility-warning-utility-warning-700: var(--colors-warning-700);
  --container-max-width-desktop: var(--spacing-320-1280px);
  --container-padding-desktop: var(--spacing-8-32px);
  --container-padding-mobile: var(--spacing-4-16px);
  --paragraph-max-width: var(--spacing-180-720px);
  --radius-2xl: 28px;
  --radius-3xl: 32px;
  --radius-4xl: 36px;
  --radius-full: 9999px;
  --radius-lg: 20px;
  --radius-md: 16px;
  --radius-none: 0px;
  --radius-sm: 12px;
  --radius-xl: 24px;
  --radius-xs: 8px;
  --radius-xxs: 4px;
  --spacing-10xl: var(--spacing-32-128px);
  --spacing-11xl: var(--spacing-40-160px);
  --spacing-2xl: var(--spacing-5-20px);
  --spacing-3xl: var(--spacing-6-24px);
  --spacing-4xl: var(--spacing-8-32px);
  --spacing-5xl: var(--spacing-10-40px);
  --spacing-6xl: var(--spacing-12-48px);
  --spacing-7xl: var(--spacing-16-64px);
  --spacing-8xl: var(--spacing-20-80px);
  --spacing-9xl: var(--spacing-24-96px);
  --spacing-lg: var(--spacing-3-12px);
  --spacing-md: var(--spacing-2-8px);
  --spacing-none: var(--spacing-0-0px);
  --spacing-sm: var(--spacing-1_5-6px);
  --spacing-xl: var(--spacing-4-16px);
  --spacing-xs: var(--spacing-1-4px);
  --spacing-xxs: var(--spacing-0_5-2px);
  --spacing-0-0px: 0px;
  --spacing-0_5-2px: 2px;
  --spacing-1-4px: 4px;
  --spacing-10-40px: 40px;
  --spacing-12-48px: 48px;
  --spacing-120-480px: 480px;
  --spacing-140-560px: 560px;
  --spacing-16-64px: 64px;
  --spacing-160-640px: 640px;
  --spacing-180-720px: 720px;
  --spacing-192-768px: 768px;
  --spacing-1_5-6px: 6px;
  --spacing-2-8px: 8px;
  --spacing-20-80px: 80px;
  --spacing-24-96px: 96px;
  --spacing-256-1024px: 1024px;
  --spacing-3-12px: 12px;
  --spacing-32-128px: 128px;
  --spacing-320-1280px: 1280px;
  --spacing-360-1440px: 1440px;
  --spacing-4-16px: 16px;
  --spacing-40-160px: 160px;
  --spacing-400-1600px: 1600px;
  --spacing-48-192px: 192px;
  --spacing-480-1920px: 1920px;
  --spacing-5-20px: 20px;
  --spacing-56-224px: 224px;
  --spacing-6-24px: 24px;
  --spacing-64-256px: 256px;
  --spacing-8-32px: 32px;
  --spacing-80-320px: 320px;
  --spacing-96-384px: 384px;
  --width-2xl: var(--spacing-256-1024px);
  --width-3xl: var(--spacing-320-1280px);
  --width-4xl: var(--spacing-360-1440px);
  --width-5xl: var(--spacing-400-1600px);
  --width-6xl: var(--spacing-480-1920px);
  --width-lg: var(--spacing-160-640px);
  --width-md: var(--spacing-140-560px);
  --width-sm: var(--spacing-120-480px);
  --width-xl: var(--spacing-192-768px);
  --width-xs: var(--spacing-96-384px);
  --width-xxs: var(--spacing-80-320px);
}